<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bearmind Dockstation Connection</title>
    <!-- {% load static %} -->
    <link rel="stylesheet" href="./static/css/styles.css" />
    <script src="scripts.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
  </head>

  <body>
    <div class="container">
      <form class="container__form-container" method="post" id="main-form">
        <!-- {% csrf_token %} -->

        <img src="./assets/images/title.webp" />

        <div class="tab-header">
          <div
            class="tab-header__item"
            id="header-connect-new-network"
            onclick="showTab('connect-new-network')"
          >
            <img
              src="./assets/icons/wifi.svg"
              style="width: unset"
              alt="Refresh Icon"
              width="24"
              height="24"
            />
            <span>Connect to a new Wi-Fi network</span>
          </div>
          <div
            class="tab-header__item"
            id="header-save-new-network"
            onclick="showTab('save-new-network')"
          >
            <img
              src="./assets/icons/circle-plus.svg"
              style="width: unset"
              alt="Refresh Icon"
              width="24"
              height="24"
            />
            <span>Save a new Wi-Fi network</span>
          </div>
          <div
            class="tab-header__item"
            id="header-known-networks"
            onclick="showTab('known-networks')"
          >
            <img
              src="./assets/icons/circle-minus.svg"
              style="width: unset"
              alt="Refresh Icon"
              width="24"
              height="24"
            />
            <span>Delete a known network</span>
          </div>
        </div>

        <!-- Connect to new network -->
        <div class="tab tab__container" id="connect-new-network">
          <h2>Connect to a new Wi-Fi network</h2>
          <p class="mb-1">Short explanation here which...</p>
          <div class="input-container">
            <label class="input-label" for="new-ssid-select">SSID:</label>
            <div class="flex-row">
              <select id="new-ssid-select" name="newssid"></select>
              <button
                class="refresh-button"
                id="refresh-btn"
                title="Refresh"
                onclick="refreshNetworks()"
              >
                <img src="./assets/icons/refresh.svg" alt="Refresh Icon" width="24" height="24" />
              </button>
            </div>
          </div>
          <div class="input-container">
            <label class="input-label" for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>
          <button
            class="submit-btn"
            type="submit"
            name="submit_with_password"
            onclick="onNewConnectSuccess()"
          >
            Connect now
          </button>
        </div>

        <!-- Save a new network -->
        <div class="tab tab__container" id="save-new-network">
          <h2>Save a new Wi-Fi network</h2>
          <p class="mb-1">Short explanation here which...</p>
          <div class="input-container">
            <label class="input-label" for="new-ssid-input">SSID:</label>
            <input id="new-ssid-input" name="newssid" placeholder="Enter SSID" required />
          </div>
          <div class="input-container">
            <label class="input-label" for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>
          <button
            class="submit-btn"
            type="submit"
            name="submit_with_password"
            onclick="onNewConnectSuccess()"
          >
            Save Wi-Fi network
          </button>
        </div>

        <!-- Known networks -->
        <div class="tab tab__container" id="known-networks">
          <h2>Known networks</h2>
          <p>Short explanation here which...</p>
          <ul class="del-known-network-list" id="known-network-list">
            <!-- FROM API -->
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
            <li>KnownNetwork1<button class="del-network-btn">×</button></li>
            <li>KnownNetwork2<button class="del-network-btn">×</button></li>
            <li>KnownNetwork3<button class="del-network-btn">×</button></li>
          </ul>
        </div>

        <div class="flex-column footer">
          <h2>Exit</h2>
          <p class="self-start">Short explanation here which...</p>
          <a href="{% url 'cancel_wifi_configuration' %}">
            <button type="button" class="cancel-btn" id="cancel-button">Exit without saving</button>
          </a>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  </body>
</html>
