<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bearmind Dockstation Connection</title>
    <!-- {% load static %} -->
    <link rel="stylesheet" href="./static/css/styles.css" />
    <script src="scripts.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
  </head>

  <body>
    <div class="container">
      <div class="container__content" id="container-content">
        <!-- {% csrf_token %} -->

        <img src="./static/images/title.webp" />

        <!-- TABS CONTENT VIEW -->
        <div class="container__tabs-content" id="tabs-content">
          <div class="tab-header">
            <div
              class="tab-header__item"
              id="header-connect-new-network-form"
              onclick="showTab('connect-new-network-form')"
            >
              <img
                src="./static/icons/wifi.svg"
                style="width: unset"
                alt="Refresh Icon"
                width="24"
                height="24"
              />
              <span>Connect to a new Wi-Fi network</span>
            </div>
            <div
              class="tab-header__item"
              id="header-save-new-network-form"
              onclick="showTab('save-new-network-form')"
            >
              <img
                src="./static/icons/circle-plus.svg"
                style="width: unset"
                alt="Refresh Icon"
                width="24"
                height="24"
              />
              <span>Save a new Wi-Fi network</span>
            </div>
            <div
              class="tab-header__item"
              id="header-known-networks"
              onclick="showTab('known-networks')"
            >
              <img
                src="./static/icons/circle-minus.svg"
                style="width: unset"
                alt="Refresh Icon"
                width="24"
                height="24"
              />
              <span>Delete a known network</span>
            </div>
          </div>

          <!-- Connect to new network -->
          <form class="tab tab__container" id="connect-new-network-form" method="post">
            <h2>Connect to a new Wi-Fi network</h2>
            <span class="flex-column gap-05">
              <p>
                Choose the Wi-Fi network you would like to use with your Bearmind Dockstation. Make
                sure you are within range of the desired network.
              </p>
              <p>
                <strong>NOTE:</strong> Press the refresh arrow to re-scan for Wi-Fi networks if
                yours does not immediately appear in the dropdown list.
              </p>
              <p>
                <strong>NOTE:</strong> At this time, Bearmind does not allow connecting to unsecured
                Wi-Fi networks (i.e. no password). If this is the case, please choose an alternative
                network.
              </p>
            </span>
            <div class="input-container">
              <label class="input-label" for="connect-new-network-ssid-select">SSID:</label>
              <div class="flex-row">
                <select
                  id="connect-new-network-ssid-select"
                  name="connect new network ssid select"
                  required
                >
                  <option value="" disabled selected hidden>Select SSID</option>
                  <!-- FROM API -->
                  <option value="ScannedNetwork1">ScannedNetwork1</option>
                  <option value="ScannedNetwork2">ScannedNetwork2</option>
                  <option value="ScannedNetwork3">ScannedNetwork3</option>
                </select>
                <button
                  class="refresh-button"
                  id="refresh-btn"
                  title="Refresh"
                  onclick="refreshNetworks()"
                >
                  <img src="./static/icons/refresh.svg" alt="Refresh Icon" width="24" height="24" />
                </button>
              </div>
            </div>
            <div class="input-container">
              <label class="input-label" for="password">Password:</label>
              <input
                type="password"
                id="connect-new-network-password"
                name="connect new network password"
                placeholder="Enter password"
                required
              />
            </div>
            <button
              class="action-btn submit-btn"
              type="submit"
              name="submit connect new wifi network"
            >
              Connect now
            </button>
          </form>

          <!-- Save a new network -->
          <form class="tab tab__container" id="save-new-network-form" method="post">
            <h2>Save a new Wi-Fi network</h2>
            <span class="flex-column gap-05">
              <p>
                Add a new Wi-Fi network that you would like to use with your Bearmind Dockstation.
                The Bearmind Dockstation will connect to this Wi-Fi network next time it is within
                range.
              </p>
              <p>
                <strong>NOTE:</strong> To connect to a Wi-Fi network that is currently within range,
                use the section <strong>“Connect to a new Wi-Fi network”</strong>.
              </p>
              <p>
                <strong>NOTE:</strong> At this time, Bearmind does not allow connecting to unsecured
                Wi-Fi networks (i.e. no password). If this is the case, please choose an alternative
                network.
              </p>
            </span>
            <div class="input-container">
              <label class="input-label" for="new-ssid-input">SSID:</label>
              <input
                id="save-new-ssid-input"
                name="save new ssid input"
                placeholder="Enter SSID"
                required
              />
            </div>
            <div class="input-container">
              <label class="input-label" for="password">Password:</label>
              <input
                type="password"
                id="save-new-network-password"
                name="save new network password"
                placeholder="Enter password"
                required
              />
            </div>
            <button class="action-btn submit-btn" type="submit" name="submit save wifi network">
              Save Wi-Fi network
            </button>
          </form>

          <!-- Known networks -->
          <div class="tab tab__container" id="known-networks">
            <h2>Known networks</h2>
            <p>
              Remove a saved Wi-Fi network from your Bearmind Dockstation. The Bearmind Dockstation
              will no longer connect to this Wi-Fi network when it is within range.
            </p>
            <ul class="del-known-network-list" id="known-network-list">
              <!-- FROM API -->
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork1<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork2<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
              <li>
                KnownNetwork3<button class="del-network-btn" onclick="testOnDelete()">×</button>
              </li>
            </ul>
          </div>

          <div class="flex-column gap-1 footer">
            <h2>Exit</h2>
            <p class="self-start">Short explanation here which...</p>
            <a href="{% url 'cancel_wifi_configuration' %}">
              <button
                type="button"
                class="action-btn cancel-btn"
                onclick="testOnDelete()"
                id="cancel-button"
              >
                Exit without saving
              </button>
            </a>
          </div>
        </div>

        <!-- CONFIRMATION VIEW -->
        <div class="container__confirmation-content" id="confirmation-content">
          <div>
            <h1 id="confirmation-header" class="mb-1">Connecting to a new Wi-Fi network...</h1>
            <p id="confirmation-info-1"></p>
          </div>
          <img
            src="./static/icons/circle-check.svg"
            style="width: unset"
            alt="Refresh Icon"
            width="160"
            height="160"
          />
          <p id="confirmation-info-2">
            Monitor the Wi-Fi LED on the Bearmind Dockstation to ensure that it has successfully
            connected to the Wi-Fi network.
          </p>
          <button
            id="confirmation-return-btn"
            class="action-btn cancel-btn container__confirmation-content__return-btn"
            onclick="goBack()"
          >
            Return
          </button>
        </div>
      </div>
    </div>

    <!-- DIALOG POPUP -->
    <dialog id="confirm-delete-dialog">
      <form method="dialog">
        <div class="flex-column gap-2">
          <h2>Confirm action</h2>
          <p id="confirm-delete-dialog-text"></p>
          <div class="flex-row justify-between">
            <button class="dialog-action-btn cancel-btn" value="cancel">Cancel</button>
            <button class="dialog-action-btn submit-btn" value="confirm">Confirm</button>
          </div>
        </div>
      </form>
    </dialog>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  </body>
</html>
