/* FONTS */
@font-face {
  font-family: 'Px Grotesk';
  src: url('fonts/Px-Grotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Px Grotesk';
  src: url('fonts/Px-Grotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* VARIABLES */
:root {
  --BIG_BORDER_RADIUS: 14px;
  --BORDER_RADIUS: 8px;
  --BORDER: 1px solid #ebebeb;
}

/* GLOBAL */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Px Grotesk', sans-serif;
  color: #181818;
  font-weight: 400;
}

p {
  font-size: 14px;
}

img {
  width: 100%;
  object-fit: contain;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

p {
  margin: 0;
}

select,
input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem;
  border: var(--BORDER);
  border-radius: var(--BORDER_RADIUS);
  height: 2.5rem;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

select option {
  color: black;
}

select:invalid {
  color: #898989;
}

select:focus:invalid {
  color: #898989;
}

input,
textarea,
button,
select {
  outline: none;
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible,
select:focus-visible {
  border: 1px solid #007bff;
  box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5);
}

input::placeholder {
  color: #898989;
}

button {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Px Grotesk', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dialog {
  padding: 1.5rem;
  max-width: 28rem;
  border: var(--BORDER);
  border-radius: var(--BORDER_RADIUS);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* COMMON */
.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

/* CUSTOM */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../static/images/wallpaper-bearmind.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.container__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 34rem;
  max-width: 90vw;
  height: 100%;
  max-height: 52rem;
  overflow-y: auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: var(--BIG_BORDER_RADIUS);
}

.container__tabs-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.container__confirmation-content {
  display: none;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-label {
  font-weight: 700;
}

.action-btn {
  width: 12rem;
}

.submit-btn {
  background-color: #40ca56;
  align-self: center;
}
.submit-btn:hover {
  background-color: #2ea843;
}

.cancel-btn {
  background-color: #f03800;
}
.cancel-btn:hover {
  background-color: #c22d00;
}

.del-known-network-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  max-height: 32vh;
  padding-right: 0.75rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #f3f3f3;
    border-radius: var(--BORDER_RADIUS);
    border: var(--BORDER);
  }
}

.del-network-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  background-color: #f03800;
}
.del-network-btn:hover {
  background-color: #c22d00;
}

.tab {
  display: none;
}
.tab__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--BORDER_RADIUS);
}

.tab-header__item {
  background-color: #f3f3f3;
  border: var(--BORDER);
  border-radius: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s;
}
.tab-header__item:first-child {
  border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
}
.tab-header__item:last-child {
  border-radius: 0 0 var(--BORDER_RADIUS) var(--BORDER_RADIUS);
}
.tab-header__item:hover {
  background-color: #d8d8d8;
}

.header__item__active {
  background-color: white;
  border-width: 2px;
  border-color: black;
  font-weight: bold;
  cursor: default;
}

.footer {
  margin-top: auto;
  min-height: 8rem;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  border-top: 1px solid #ebebeb;
  padding-top: 0.5rem;
}

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3rem;
  background-color: #066def;
  border: none;
  border-radius: var(--BORDER_RADIUS);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.refresh-button:hover {
  background-color: #0558bd;
}

.dialog-action-btn {
  width: 8rem;
}

.container__confirmation-content__return-btn {
  display: none;
  align-self: center;
}
